.footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background: #ddd;
  text-align: right;
  padding: 0.2rem;
  padding-right: 1rem;
  cursor: default;
  z-index: 4;
}

.portfoliolink {
  color: dodgerblue;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &:hover {
    color: rgb(88, 5, 5);
  }
}
